/*-----General styling-----*/

body {
  font-family: DynaPuff, sans-serif;
  min-height: 100vh;
  display: grid;
}

p {
  font-family: "Varela Round", sans-serif;
}

ol {
  font-family: "Varela Round", sans-serif;
}

/*-----Colours-----*/

/* Credit https://www.w3schools.com/css/css3_gradients.asp for gradient code */
body {
  background-image: linear-gradient(to bottom, #87CEEB, #87CEEB, #f8f8f8);
}

.circular-btn {
  background-color: #F8F8F8;
}

header i {
  color: #FF7F50;
}

.circular-btn :hover {
  color: #F8F8F8;
}

.quiz-options .row{
  background-color: #F8F8F8;
}

#colours-link {
  background-color: #98FB98;
}

#colours-link h2 {
  color: #F8F8F8;
  text-shadow: 2px 2px 2px #87CEEB;
}

#colours-link i {
  color: #F8F8F8;
  text-shadow: 2px 2px 2px #87CEEB;
}

#numbers-link {
  background-color: #FF7F50;
}

#numbers-link h2 {
  color: #FFD700;
  text-shadow: 2px 2px 2px #87CEEB;
}

#numbers-link i {
  color: #FFD700;
  text-shadow: 2px 2px 2px #87CEEB;
}

#shapes-link {
  background-color: #FFD700;
}

#shapes-link h2 {
  color: #FF7F50;
  text-shadow: 2px 2px 2px #F8F8F8;
}

#shapes-link i {
  color: #FF7F50;
  text-shadow: 2px 2px 2px #F8F8F8;
}

#feelings-link {
  background-color: #87CEEB;
}

#feelings-link h2 {
  color: #F8F8F8;
  text-shadow: 2px 2px 2px #FF7F50;
}

#feelings-link i {
  color: #F8F8F8;
  text-shadow: 0.5px 0.5px 0.5px #FF7F50;
}

#how-to-play button {
  background-color: #F8F8F8;
  color: #FF7F50;
}

#instructions {
  color: #87CEEB;
}

footer p {
  color: #87CEEB;
  font-weight: bold;
}

footer i {
    color: #87CEEB;
}

footer i:hover {
    color: #FF7F50;
}

.question-text {
  color: #F8F8F8;
  text-shadow: 1px 1px 1px grey;
}

.colours-answer-selection {
  background-color: #F8F8F8;
}

.numbers-answer-selection {
  color: #FF7F50;
  text-shadow: 4px 4px 4px #F8F8F8;
}

.shapes-answer-selection {
  background-color: #F8F8F8;
}

#shape-selection-1 {
  color: #FF7F50;
}

#shape-selection-2 {
  color: #FFD700;
}

#shape-selection-3 {
  color: #98FB98;
}

#shape-selection-4 {
  color: #87CEEB;
}

.bi-emoji-angry {
  color: red;
}

.bi-emoji-astonished {
  color: black;
}

.bi-emoji-frown {
  color: #87CEEB;
}

.bi-emoji-smile {
  color: #FFD700;
}

.bi-emoji-kiss {
  color: pink;
}

.repeat-audio {
  color: #f8f8f8;
  text-shadow: 1px 1px 1px grey;
}

.repeat-audio button {
  background-color: #FF7F50;
  color: #F8F8F8;
  text-shadow: 1px 1px 1px grey;
}

/*----- Start of Header styling-----*/

.circular-btn {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    font-size: 2.5rem;
    flex-shrink: 0;
}

.logo-img {
    max-height: 14rem;
    width: auto;
    vertical-align: middle;
    max-width: 50%;
    height: auto;
}

.circular-btn :hover {
    font-size: 3rem;
}

@media (max-width: 575.98px) {
    .circular-btn {
      width: 3rem;
      height: 3rem;
      font-size: 1.5rem;
    }

    .circular-btn :hover {
      font-size: 2rem;
}

    .logo-img {
      height: 7rem;
    }

    header {
      padding: 0.5rem 0.5rem !important;
    }
}

@media (max-height: 500px) {
  .circular-btn {
      width: 3rem;
      height: 3rem;
      font-size: 1.5rem;
    }

    .circular-btn :hover {
      font-size: 2rem;
}

    .logo-img {
      height: 5rem;
    }
}

/*----- End of Header styling-----*/

/*----- Start of Quiz selection styling-----*/

.quiz-options {
  padding: 0.5rem;
}

.quiz-options .row {
  border-radius: 1.5rem;
}

.quiz-selector {
  text-align: center;
  border-radius: 1rem;
  max-height: fit-content;
  margin-top: 20px;
}  

a:has(#colours-link) :hover {
  border-style: solid;
  border-color: #87CEEB;
}

a:has(#colours-link) :hover h2 {
  border-style: none;
}

a:has(#colours-link) :hover i {
  border-style: none;
}

a:has(#numbers-link) :hover {
  border-style: solid;
  border-color: #FFD700;
}

a:has(#numbers-link) :hover h2 {
  border-style: none;
}

a:has(#numbers-link) :hover i {
  border-style: none;
}

a:has(#shapes-link) :hover {
  border-style: solid;
  border-color: #FF7F50;
}

a:has(#shapes-link) :hover h2 {
  border-style: none;
}

a:has(#shapes-link) :hover i {
  border-style: none;
}

a:has(#feelings-link) :hover {
  border-style: solid;
  border-color: #98FB98;
}

a:has(#feelings-link) :hover h2 {
  border-style: none;
}

a:has(#feelings-link) :hover i {
  border-style: none;
}

h2 :hover {
  border-style: none;
}

.quiz-options a {
  text-decoration: none;
}

.quiz-selector i {
  font-size: 2.5rem;
}

@media (max-width: 575.98px) {

  .quiz-options {
    padding: 2rem;
  }

  .quiz-selector i {
    font-size: 1.5rem;
  }

  .quiz-selector h2 {
    font-size: 1.25rem;
  }
}

@media (max-height: 500px) {
  .quiz-options {
    padding: 1rem;
  }

  .quiz-options a {
    margin-bottom: 1rem !important;
  }

  .quiz-selector {
    padding: 0.5rem !important;
    margin-top: 1rem;
  }

  .quiz-selector i {
    font-size: 1rem;
  }

  .quiz-selector h2 {
    font-size: 1rem;
  }
}

@media (max-width: 344.98px) {

  #numbers-link i {
    font-size: 1rem;
  }

}

/*----- End of Quiz selection styling-----*/

/*----- Start of How to Play selection styling-----*/

#how-to-play button {
  border-radius: 0.5rem;
}

#how-to-play button:hover {
  text-decoration: underline;
  font-size: 1.25rem;
}

#instructions {
  text-align: center;
  border-radius: 0.5rem;
  padding: 5px;
}

.card {
  background-color: #F8F8F8;
  border: none;
}

ol {
  margin-bottom: 0;
}

@media (max-width: 575.98px) {
  ol {
    font-size: small;
  }
}

@media (max-height: 500px) {
  ol {
    font-size: small;
  }

  #how-to-play button{
    font-size: x-small;
    padding: 0.25rem;
  }

  footer p {
    margin-bottom: 0.25rem;
    font-size: small;
  }
}

/*----- End of How to Play selection styling-----*/

/*----- Start of styling for quiz pages-----*/

.question-text {
  margin: 0 0.5rem 0 0.5rem;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
}

div:has(.question-text) {
  height: fit-content;
}

div:has(.repeat-audio) {
  height: fit-content;
}

.repeat-audio button {
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  border: none;
}

.repeat-audio button :hover {
  color: #FFD700;
}

.repeat-audio i {
  font-size: 2.5rem;
}

@media (max-width: 575.98px) {
  .repeat-audio button {
  width: 4rem;
  height: 4rem;
  }

  .repeat-audio i {
  font-size: 2rem;
  }
}

@media (max-height: 500px) {

  #question-heading {
    font-size: 1rem;
  }

  .repeat-audio button {
  width: 2.5rem;
  height: 2.5rem;
  }

  .repeat-audio i {
  font-size: 1rem;
  }

  .repeat-audio h3 {
    font-size: 1rem;
  }
}

/*--Colours Page--*/

.colours-answer-selection {
  border: none;
  height: 12rem;
  width: 12rem;
  border-radius: 50%;
}

@media (max-width: 575.98px) {
  .colours-answer-selection {
    height: 8rem;
    width: 8rem;
  }
}

@media (max-height: 500px) {
  .colours-answer-selection {
    height: 5rem;
    width: 5rem;
  }

  div:has(.colours-answer-selection) {
    padding: 0rem 1.5rem 0rem 1.5rem !important;
  }

}

/*--Numbers Page--*/

.numbers-answer-selection {
  background: none;
  border: none;
  font-size: 8rem;
}

@media (max-width: 840px) {
  .numbers-answer-selection {
    font-size: 5rem;
  }
}

@media (max-height: 500px) {
  .numbers-answer-selection {
    font-size: 4rem;
  }

  div:has(.numbers-answer-selection) {
    padding: 0rem 1.5rem 0rem 1.5rem !important;
  }

}

/*--Shapes Page--*/

.shapes-answer-selection {
  border-radius: 25%
}

.shapes-answer-selection i {
  font-size: 8rem;
  padding: 0 20px 0 20px;
}

@media (max-width: 575.98px) {

  .shapes-answer-selection i {
  font-size: 4rem;
  padding: 0 15px 0 15px;
  }

}

@media (max-height: 500px) {

  .shapes-answer-selection i {
  font-size: 3rem;
  padding: 0 15px 0 15px;
  }

}

/*--Feelings Page--*/

.feelings-answer-selection {
  border-radius: 25%;
  height: 12rem;
  width: 12rem;
}

.feelings-answer-selection img {
  max-width: 100%;
}

@media (max-width: 995px) {
  .feelings-answer-selection {
    height: 9rem;
    width: 9rem;
  }
}

@media (max-width: 575.98px) {

  .feelings-answer-selection {
    height: 8rem;
    width: 8rem;
  }
}

@media (max-height: 500px) {

  .feelings-answer-selection {
    height: 5rem;
    width: 5rem;
  }

}

/*----- End of styling for quiz pages-----*/

/*----- Start of Footer styling-----*/

footer a {
  text-decoration: none;
}

@media (max-height: 500px) {
  footer p {
    margin-bottom: 0;
  }
}
/*----- End of Footer styling-----*/

/*----- Start of Animations-----*/

/*--Correct answer rocket anmation--*/

/*Credit to W3 Schools for css animations - https://www.w3schools.com/css/css3_animations.asp + https://www.w3schools.com/howto/howto_css_shake_image.asp */
.rocket-animation {
  pointer-events: none;
  animation: 
    shake 1s ease-in-out 3,
    blastOff 1.5s ease-in 0.5s forwards;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

@keyframes blastOff {
  0% {
    transform: translateY(0) scale(1);
  }
  100% {
    transform: translateY(-1000px) rotate(15deg) scale(1.5);
    opacity: 0.8;
  }
}

/*--Incorrect answer bounce feedback - Credit to Nelle de Jones - https://codepen.io/nelledejones/pen/gOOPWrK --*/

.incorrect-animation {
  animation: bounce 1.5s ease 1;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
	40% {transform: translateY(-30px);}
	60% {transform: translateY(-15px);}
}


/*--Correct answer nudge - Credit to Nelle de Jones - https://codepen.io/nelledejones/pen/gOOPWrK --*/
.answer-nudge {
  animation: nudge 1s ease 2;
}

@keyframes nudge {
  from { opacity: 0.25; }
  30% { transform: scale(1.2); }
  40%, 60% { transform: scale(1.2); }
  50% { transform: scale(1.2); }
  70% { transform: scale(1.2); }
  100% { transform: scale(1); }
  to { opacity: 1; }
}

/*----- End of Animations-----*/

/*-----Error 404 Page Styling-----*/

.error404 h1 {
  color: #f8f8f8;
  text-shadow: 2px 2px 2px #FF7F50;
}

.error404 p {
  color: #f8f8f8;
  text-shadow: 1px 1px 1px #FF7F50;
  font-size: 1.5rem;
}

.error404 a {
  text-decoration: none;
  color: #FF7F50;
  background-color: #f8f8f8;
  font-size: 1.5rem;
}

.error404 a:hover {
  text-decoration: underline;
  background: none;
  color: #f8f8f8;
}