/*-----General styling-----*/

body {
  font-family: DynaPuff, sans-serif;
  min-height: 100vh;
  display: grid;
}

p {
  font-family: Varela Round, sans-serif;
}

ol {
  font-family: Varela Round, sans-serif;
}

/*-----Colours-----*/

/* Credit https://www.w3schools.com/css/css3_gradients.asp for gradient code */
body {
  background-image: linear-gradient(to bottom, #87CEEB, #87CEEB, #f8f8f8);
}

.circular-btn {
  background-color: #F8F8F8;
  border-color: #F8F8F8;
}

header i {
  color: #FF7F50;
}

.circular-btn :hover {
  color: #F8F8F8;
}

.quiz-options .row{
  background-color: #F8F8F8;
}

#colours-link {
  background-color: #98FB98;
}

#colours-link h2 {
  color: #F8F8F8;
  text-shadow: 2px 2px 2px #87CEEB;
}

#colours-link i {
  color: #F8F8F8;
  text-shadow: 2px 2px 2px #87CEEB;
}

#numbers-link {
  background-color: #FF7F50;
}

#numbers-link h2 {
  color: #FFD700;
  text-shadow: 2px 2px 2px #87CEEB;
}

#numbers-link i {
  color: #FFD700;
  text-shadow: 2px 2px 2px #87CEEB;
}

#shapes-link {
  background-color: #FFD700;
}

#shapes-link h2 {
  color: #FF7F50;
  text-shadow: 2px 2px 2px #F8F8F8;
}

#shapes-link i {
  color: #FF7F50;
  text-shadow: 2px 2px 2px #F8F8F8;
}

#feelings-link {
  background-color: #87CEEB;
}

#feelings-link h2 {
  color: #F8F8F8;
  text-shadow: 2px 2px 2px #FF7F50;
}

#feelings-link i {
  color: #F8F8F8;
  text-shadow: 0.5px 0.5px 0.5px #FF7F50;
}

#how-to-play button {
  background-color: #F8F8F8;
  color: #FF7F50;
}

#instructions {
  /* background-color: #F8F8F8; */
  color: #87CEEB;
}

footer p {
  color: #87CEEB;
  text-decoration: underline;
  font-weight: bold;
}

footer i {
    color: #87CEEB;
}

footer i:hover {
    color: #FF7F50;
}

.question-text {
  color: #F8F8F8;
  text-shadow: 1px 1px 1px grey;
}

.answer-selection {
  background-color: #F8F8F8;
}

.repeat-audio {
  color: #f8f8f8;
  text-shadow: 1px 1px 1px grey;
}

.repeat-audio button {
  background-color: #FF7F50;
  color: #F8F8F8;
  text-shadow: 1px 1px 1px grey;
}
/*----- Start of Header styling-----*/

.circular-btn {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    font-size: 2.5rem;
    flex-shrink: 0;
}

.logo-img {
    max-height: 14rem;
    width: auto;
    vertical-align: middle;
    max-width: 50%;
    height: auto;
}

.circular-btn :hover {
    font-size: 3rem;
}

@media (max-width: 575.98px) {
    .circular-btn {
      width: 3rem;
      height: 3rem;
      font-size: 1.5rem;
    }

    .circular-btn :hover {
      font-size: 2rem;
}

    .logo-img {
      height: 7rem;
    }

    header {
      padding: 0.5rem 0.5rem !important;
    }
}

@media (max-height: 500px) {
  .circular-btn {
      width: 3rem;
      height: 3rem;
      font-size: 1.5rem;
    }

    .circular-btn :hover {
      font-size: 2rem;
}

    .logo-img {
      height: 6rem;
    }
}

.invisible-placeholder {
  visibility: hidden;
}

/*----- End of Header styling-----*/

/*----- Start of Quiz selection styling-----*/

.quiz-options {
  padding: 0.5rem;
}

.quiz-options .row {
  border-radius: 1.5rem;
}

.quiz-selector {
  text-align: center;
  border-radius: 1rem;
  max-height: fit-content;
  margin-top: 20px;
}  

a:has(#colours-link) :hover {
  border-style: solid;
  border-color: #87CEEB;
  h2 {
    border-style: none;
  }
  i {
    border-style: none;
  }
}

a:has(#numbers-link) :hover {
  border-style: solid;
  border-color: #FFD700;
  h2 {
    border-style: none;
  }
  i {
    border-style: none;
  }
}

a:has(#shapes-link) :hover {
  border-style: solid;
  border-color: #FF7F50;
  h2 {
    border-style: none;
  }
  i {
    border-style: none;
  }
}

a:has(#feelings-link) :hover {
  border-style: solid;
  border-color: #98FB98;
  h2 {
    border-style: none;
  }
  i {
    border-style: none;
  }
}

h2 :hover {
  border-style: none;
}

.quiz-options a {
  text-decoration: none;
}

.quiz-selector i {
  font-size: 2.5rem;
}

@media (max-width: 575.98px) {

  .quiz-options {
    padding: 2rem;
  }

  .quiz-selector i {
    font-size: 1.5rem;
  }

  .quiz-selector h2 {
    font-size: 1.25rem;
  }
}

@media (max-height: 500px) {
  .quiz-options {
    padding: 1rem;
  }

  .quiz-options a {
    margin-bottom: 1rem !important;
  }

  .quiz-selector {
    padding: 0.5rem !important;
    margin-top: 1rem;
  }

  .quiz-selector i {
    font-size: 1rem;
  }

  .quiz-selector h2 {
    font-size: 1rem;
  }
}

@media (max-width: 344.98px) {

  #numbers-link i {
    font-size: 1rem;
  }

}

/*----- End of Quiz selection styling-----*/

/*----- Start of How to Play selection styling-----*/

#how-to-play button {
  border-radius: 0.5rem;
}

#how-to-play button:hover {
  text-decoration: underline;
  font-size: 1.25rem;
}

#instructions {
  text-align: center;
  border-radius: 0.5rem;
  padding: 5px;
}

.card {
  background-color: #F8F8F8;
  border: none;
}

ol {
  margin-bottom: 0;
}

@media (max-width: 575.98px) {
  ol {
    font-size: small;
  }
}

@media (max-height: 500px) {
  ol {
    font-size: small;
  }

  #how-to-play button{
    font-size: x-small;
    padding: 0.25rem;
  }

  footer p {
    margin-bottom: 0.25rem;
    font-size: small;
  }
}

/*----- End of How to Play selection styling-----*/

/*----- Start of styling for quiz pages-----*/

.question-text {
  margin: 0 0.5rem 0 0.5rem;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
}

div:has(.question-text) {
  height: fit-content;
}

div:has(.repeat-audio) {
  height: fit-content;
}

.repeat-audio button {
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  border: none;
}

.repeat-audio button :hover {
  color: #FFD700;
}

.repeat-audio i {
  font-size: 2.5rem;
}

@media (max-width: 575.98px) {
  .repeat-audio button {
  width: 4rem;
  height: 4rem;
  }

  .repeat-audio i {
  font-size: 2rem;
  }
}

@media (max-height: 500px) {
  .repeat-audio button {
  width: 2.5rem;
  height: 2.5rem;
  }

  .repeat-audio i {
  font-size: 1rem;
  }

  .repeat-audio h3 {
    font-size: medium;
  }
}

/*--Colours Page--*/

.colours-answer-selection {
  border: none;
  height: 12rem;
  width: 12rem;
  border-radius: 50%;
}

@media (max-width: 575.98px) {
  .colours-answer-selection {
    height: 8rem;
    width: 8rem;
  }
}

@media (max-height: 500px) {
  .colours-answer-selection {
    height: 8rem;
    width: 8rem;
  }
}

/*----- End of styling for quiz pages-----*/

/*----- Start of Footer selection styling-----*/

footer a {
  text-decoration: none;
}

/*----- End of Footer selection styling-----*/
